.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1.5rem;
  text-align: center;
}
.pedirTurnoButton {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  background-color: #51b6b6;
}
.pedirTurnoButton:hover {
  background-color: #338a8a;
}
.pedirTurnoConteiner {
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
}

.inputGroup {
  margin-bottom: 1rem;
}

.inputLabel {
  font-size: 0.875rem;
  color: #666;
  margin-bottom: 0.5rem;
}

.inputField {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 0.375rem;
  outline: none;
  transition: border 0.3s ease;
}
.buttonContainer {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
